@import "../styles/scrollbar.css";
@import "../styles/button.css";
@import "../styles/input.css";


html {
  scroll-behavior: smooth;
}
body{
  position: relative;
  width: 100%;
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
  background-color: black;
  color: white;
}
.body_fixed {
  overflow: hidden;
}
.container {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  margin-bottom: 100px;
}
.header__hidden {
  visibility: hidden;
}
.title {
  font-size: 70px;
  margin-bottom: 40px;
}
.form {
  position: relative;
}

.main {
  width: 1150px;
  margin: 0 auto;
}
.movies__list {
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.movies__list-hidden {
  visibility: hidden;
}
.movies__wrapper {
  display: flex;
  padding: 20px;
  gap: 20px;
  width: 100%;
  text-decoration: none;
  color: white;
}
.movies__wrapper:hover {
  opacity: 0.5;
}
.movies__img {
  width: 160px;
  height: 100;
  object-fit: contain;
  cursor: pointer;
}
.movies__content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}
.movie__card-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease ;
}
.movie__card-container--show {
  visibility: visible;
  opacity: 1;
}
.inner-wrapper {
  display: flex;
}
.movie__card {
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  width: 900px;
  gap: 50px;
  height: 600px;
  border: 1px solid white;
  border-radius: 30px;
  background-color: black;
}

.movie__card-content-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}

.movie__card-title{
  padding-top: 20px;
  margin-bottom: 30px;
  font-size: 40px;
}
.card__img {
  padding: 20px;
  width: 300px;
  height: 400px;
}
.movie__card-close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.movie__card-close-button-img {
  width: 50px;
  height: 50px;
  pointer-events: none;
}