html {
  scroll-behavior: smooth;
}
body{
  width: 100%;
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
  background-color: black;
  color: white;
}
.wrapper {
  padding-top: 100px;
}
.header {
  margin-bottom: 100px;
}
.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1150px;
}
.title {
  font-size: 70px;
  margin-bottom: 40px;
}
.input {
  padding: 10px;
  width: 450px;
  height: 50px;
  color: black;
  font-size: 30px;
  outline: none;
  border: none;
  border-radius: 30px;
  opacity: 0.7;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
}
.button {
  padding: 10px;
  width: 200px;
  height: 60px;
  font-size: 30px;
  color: white;
  background-color: purple;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.button:hover {
  background-color: transparent;
  border: 2px solid purple;
  color: purple;
}
.movies__inner {
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.movies__wrapper {
  display: flex;
  padding: 20px;
  gap: 20px;
  width: 100%;
  text-decoration: none;
  color: white;
}
.movies__wrapper:hover {
  opacity: 0.5;
}
.movie__img {
  width: 160px;
  height: 100;
  object-fit: contain;
}
.movies__content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}


.movie__card-container {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition:  2s;
}
.movie__card-container--show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.movie__card {
  display: flex;
  position: relative;
  gap: 50px;
  padding: 30px;
  width: 900px;
  height: 600px;
  border: 1px solid white;
  border-radius: 30px;
  background-color: black;
}

.movie__card-content-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 25px;
}

.movie__card-title{
  margin-bottom: 30px;
  font-size: 40px;
}
.card__img {
  width: 300px;
  height: 350px;
}
.movie__card-close-btn {
  position: absolute;
  right: 20px;
  top: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.close__button-img {
  width: 50px;
  height: 50px;
}
